body {
  background-color: gray;
  align-content: center;
  padding-top: 50px;
}

.RM1_Usuario {
  margin: auto;

  /*--------------*/
  font-size: 9px; /*<--- TAMAÑO GENERAL*/
  box-sizing: border-box;
  width: 50em;
  height: 50em;
  padding-top: 2em;
  background-color: #ffffff;
  border-radius: 3px;
}

#RM1_usuario {
  width: 46em;
  height: 46em;
  margin: auto;
  border: 1px solid #b2babb;
  border-radius: 3px;

  background-image: url(../img/imgUsuario.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.RM1_Informacion {
  width: 20em;
  height: 46em;
  border-radius: 0px 350px 350px 0px;
  background-color: rgba(25, 28, 33, 0.1);
}

.RM1_Informacion:hover {
  background-color: rgba(25, 28, 33, 0.8);
}
